<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>주문 상세</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table, th, td {
            align-self: center;
            border: 1px solid black;
            border-collapse: collapse;
        }
        div{
            padding: 5%;
        }


    </style>
</head>
<div>
    <a th:href="@{/order/list}" class="btn btn-primary" onClick="window.close()">목록보기</a>
        <br><br>
    <h5>주문상세</h5>
    <table cellpadding="10px" >
        <thead>
        <tr>
            <td>주문상세ID</td>
            <td>주문ID</td>
            <td>상품ID</td>
            <td>상품이름</td>
            <td>주문수량</td>
            <td>재고수량</td>
            <td>금액</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem : ${orderItemDto}" th:object="${orderItemDto}" align="center">
            <td th:text="${orderItem.orderItemId}"></td>
            <td th:text="${orderItem.orderId}"></td>
            <td th:text="${orderItem.itemId}"></td>
            <td th:text="${orderItem.itemName}"></td>
            <td th:text="${orderItem.itemQuantity}"></td>
            <td th:text="${orderItem.quantity}"></td>
            <td th:text="${#numbers.formatInteger(orderItem.orderItemPrice, 3, 'COMMA')+'원'}"></td>
        </tr>

        </tbody>


    </table>
</div>

</html>


