<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>메뉴 상세보기</title>
</head>
<body>
<main layout:fragment="main" class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>메뉴상세보기</h2>
            <a th:href="@{/order/list}" class="btn btn-primary">목록보기</a>
<!--        </div>-->
<!--        <div class="card-body" th:object="${orderDto}">-->
<!--            <h5 class="card-title" th:text="*{menuName}">메뉴명</h5>-->
<!--            <p class="card-text" th:text="*{#numbers.formatInteger(menuPrice, 3, 'COMMA')}">메뉴가격</p>-->
<!--            <p class="card-text" th:text="*{categoryCode}">카테고리코드</p>-->
<!--            <p class="card-text" th:text="*{orderableStatus}">주문가능여부</p>-->
<!--            <a th:href="@{/menu/list}" class="btn btn-primary">목록보기</a>-->
<!--        </div>-->
    </div>
        </div>

</main>
</body>
</html>