
        </div>
        <div class="card-body">
          <div class="table-responsive custom-scrollbar">
            <table class="display" id="export-button">
              <thead>
              <tr>
                <th>주문ID</th>
                <th>회원ID</th>
                <th>금액</th>
                <th>접수날짜</th>
                <th>상태</th>
                <th>송장번호</th>
                <th>발송날짜</th>
                <th>버튼</th>
              </tr>
              </thead>
              <tbody>

                <tr th:each="orderDto, stat:${orderList}" th:object="${orderDto}" align="center">
                    <td>
                      <a th:href="@{|/order/detail/${orderDto.orderId}|}"
                         onclick="window.open(this.href, '_blank', 'left=2500%,top=800%, width=800, height=800');
                         return false;" th:text="${orderDto.orderId}"></a>
                    </td>
                    <td th:text="${orderDto.memberId}"></td>
                    <td th:text="${#numbers.formatInteger(orderDto.sumPrice, 3, 'COMMA')+'원'}"></td>
                    <td th:text="${#temporals.format(orderDto.orderDate,'yyyy-MM-dd')}"></td>
                    <td th:text="${orderDto.orderStatus}"></td>
                    <td th:text="${orderDto.trackNumber == 0 ? '' :orderDto.trackNumber}"></td>
                    <td th:text="${orderDto.shipmentDate == 0 ? '발송전':orderDto.shipmentDate}"></td>
<!--                  th:classappend="${orderDto.orderStatus.equals('주문요청')} ? 'btn-primary abled' : 'btn-outline-primary disabled'"-->
                    <td>
                      <form name="orderProcessFrm" th:action="@{/order/list/shipment}" method="post" onsubmit="return confirm('발송을 승인하시겠습니까?');">
                        <button type="submit" class="btn btn-primary" >발송처리</button>
                        <button type="button" onclick="cancel(this)" class="btn btn-danger" >취소처리</button>
                        <input type="hidden" name="orderId" th:value="*{orderId}">
                      </form>
                    </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- latest jquery-->
<script src="../assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="../assets/js/scrollbar/simplebar.js"></script>
<script src="../assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="../assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="../assets/js/sidebar-menu.js"></script>
<script src="../assets/js/sidebar-pin.js"></script>
<script src="../assets/js/slick/slick.min.js"></script>
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="../assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/jszip.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/buttons.colVis.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/pdfmake.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/vfs_fonts.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.autoFill.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.select.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/buttons.bootstrap5.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/buttons.html5.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/buttons.print.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.bootstrap5.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/responsive.bootstrap5.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.keyTable.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.colReorder.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/dataTables.scroller.min.js"></script>
<script src="../assets/js/datatable/datatable-extension/custom.js"></script>
<script src="../assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="../assets/js/script.js"></script>
<script src="../assets/js/theme-customizer/customizer.js"></script>
</body>
</html>