<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{/fragments/head::headFragment}">
</head>
<body>
<!-- loader starts-->
<div class="loader-wrapper">
    <div class="loader">
        <div class="loader4"></div>
    </div>
</div>
<!-- loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div th:replace="~{/fragments/header::headerFragment}" class="page-header">
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div th:replace="~{/fragments/side-bar::sidebarFragment}" class="sidebar-wrapper" data-layout="stroke-svg">
            </div>
            <div class="page-body">
            </div>
            <!-- footer start-->
            <footer th:replace="~{/fragments/footer::footerFragment}" class="footer">
            </footer>
        </div>
    </div>
</div>
<!-- latest jquery-->
<script src="../assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="../assets/js/scrollbar/simplebar.js"></script>
<script src="../assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="../assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="../assets/js/sidebar-menu.js"></script>
<script src="../assets/js/sidebar-pin.js"></script>
<script src="../assets/js/slick/slick.min.js"></script>
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/header-slick.js"></script>
<script src="../assets/js/chart/apex-chart/apex-chart.js"></script>
<script src="../assets/js/chart/apex-chart/stock-prices.js"></script>
<script src="../assets/js/chart/apex-chart/moment.min.js"></script>
<script src="../assets/js/chart/echart/esl.js"></script>
<script src="../assets/js/chart/echart/config.js"></script>
<script src="../assets/js/chart/echart/pie-chart/facePrint.js"></script>
<script src="../assets/js/chart/echart/pie-chart/testHelper.js"></script>
<script src="../assets/js/chart/echart/pie-chart/custom-transition-texture.js"></script>
<script src="../assets/js/chart/echart/data/symbols.js"></script>
<!-- calendar js-->
<script src="../assets/js/datepicker/date-picker/datepicker.js"></script>
<script src="../assets/js/datepicker/date-picker/datepicker.en.js"></script>
<script src="../assets/js/datepicker/date-picker/datepicker.custom.js"></script>
<script src="../assets/js/dashboard/dashboard_3.js"></script>
<script src="../assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="../assets/js/custom-list-product.js"></script>
<script src="../assets/js/owlcarousel/owl.carousel.js"></script>
<script src="../assets/js/ecommerce.js"></script>
<script src="../assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="../assets/js/script.js"></script>
<script src="../assets/js/theme-customizer/customizer.js"></script>
</body>
</html>