<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.admin.item.model.dao.ItemMapper">
    <resultMap id="itemDtoMap" type="com.sh.admin.item.model.dto.ItemDto">
        <id column="item_id" property="itemId"/>
        <result column="item_name" property="itemName"/>
        <result column="category_name" property="categoryName"/>
        <result column="artist_name" property="artistName"/>
        <result column="img_url" property="imgUrl"/>
        <result column="seller" property="seller"/>
        <result column="details" property="details"/>
        <result column="quantity" property="quantity"/>
        <result column="sale_price" property="salePrice"/>
        <result column="sale_status" property="saleStatus"/>
    </resultMap>
    <select id="findAll" resultMap="itemDtoMap">
        select *
        from tbl_item
    </select>
<!--    나경작업시작-->
    <select id="findById" resultMap="itemDtoMap">
        select *
        from tbl_item
        where item_id = #{itemId};
    </select>
<!--    나경작업끝-->
    <!-- 희윤 시작 -->
    <!-- (카테고리명, 아티스트명, 가격, 판매상태) 상품 조건검색 -->
    <select id="findAllMatch" resultMap="itemDtoMap">
        select * from tbl_item
        <where>
            <if test="categoryName != null">
                AND category_name = #{categoryName}
            </if>
            <if test="artistName != null">
                AND artist_name = #{artistName}
            </if>
            <if test="salePrice != null and salePrice != 0">
                <![CDATA[AND sale_price <= #{salePrice}]]>
<!--                sale_price &lt; #{salePrice}-->
            </if>
            <if test="saleStatus != null">
                AND sale_status = #{saleStatus}
            </if>
        </where>
    </select>
    <!-- 희윤 끝 -->
    <update id="updateSaleStatus" >
        UPDATE tbl_item
        SET sale_status = '판매중지'
        WHERE item_id = #{itemId} AND sale_status = '품절'
    </update>
    <!--    나경작업시작-->
    <update id="updateItem">
        UPDATE tbl_item
        SET
        item_name = #{itemName},
        category_name = #{categoryName},
        artist_name = #{artistName},
        img_url = #{imgUrl},
        details = #{details},
        quantity = #{quantity},
        sale_price = #{salePrice},
        sale_status = #{saleStatus}
        WHERE item_id = #{itemId}
    </update>
<!--    나경작업끝-->
</mapper>