<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <title>회원관리</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/js-datatables/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/owlcarousel.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
</head>
<body>
<!-- loader starts-->
<div class="loader-wrapper">
    <div class="loader">
        <div class="loader4"></div>
    </div>
</div>

<!-- Page Header Ends                              -->
<!-- Page Body Start-->
<div layout:fragment="main" class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>회원 목록</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-product-header">
                            <div>
                                <div class="light-box"><a data-bs-toggle="collapse" href="#collapseProduct"
                                                          role="button" aria-expanded="false"
                                                          aria-controls="collapseProduct"><i
                                        class="filter-icon show" data-feather="filter"></i><i
                                        class="icon-close filter-close hide"></i></a></div>
                            </div>
                            <!-- 희윤 끝 -->
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th><span class="f-light f-w-600">회원ID</span></th>
                                    <th><span class="f-light f-w-600">회원명</span></th>
                                    <th><span class="f-light f-w-600">성별</span></th>
                                    <th><span class="f-light f-w-600">생년월일</span></th>
                                    <th><span class="f-light f-w-600">회원주소</span></th>
                                    <th><span class="f-light f-w-600">회원이메일</span></th>
                                    <th><span class="f-light f-w-600">가입일짜</span></th>
                                    <th><span class="f-light f-w-600">회원은행명</span></th>
                                    <th><span class="f-light f-w-600">회원계좌번호</span></th>
                                    <th><span class="f-light f-w-600">회원탈퇴여부</span></th>
                                    <th><span class="f-light f-w-600">Action</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="memberDto:${members}" th:object="${members}" align="center">
                                    <td></td>
                                    <td th:text="${memberDto.getMemberId()}"></td>
                                    <td th:text="${memberDto.getMemberName()}"></td>
                                    <td th:text="${memberDto.getMemberGender()}"></td>
                                    <td th:text="${memberDto.getMemberBirth()}"></td>
                                    <td th:text="${memberDto.getMemberAddress()}"></td>
                                    <td th:text="${memberDto.getMemberEmail()}"></td>
                                    <td th:text="${#temporals.format(memberDto.createdAt,'yyyy-MM-dd')}"></td>
                                    <td th:text="${memberDto.getMemberBank()}"></td>
                                    <td th:text="${memberDto.getMemberAccount()}"></td>
                                    <td th:text="${memberDto.getMemberStatus()}"></td>
                                    <td>
                                        <li class="delete" style="list-style-type: none"><a class="deleteBtn" th:data-member-id="${memberDto.getMemberId()}"><i class="icon-trash"></i></a></li>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- latest jquery-->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="../assets/js/scrollbar/simplebar.js"></script>
    <script src="../assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="../assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="../assets/js/sidebar-menu.js"></script>
    <script src="../assets/js/sidebar-pin.js"></script>
    <script src="../assets/js/slick/slick.min.js"></script>
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="../assets/js/js-datatables/simple-datatables@latest.js"></script>
    <script src="../assets/js/custom-list-product.js"></script>
    <script src="../assets/js/owlcarousel/owl.carousel.js"></script>
    <script src="../assets/js/ecommerce.js"></script>
    <script src="../assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>

    <script>
        $(document).ready(function() {
            $(".deleteBtn").click(function(event) {
                event.preventDefault();
                var memberId = $(this).data('member-id');
                if (confirm('정말 삭제하시겠습니까?')) {
                    $.ajax({
                        url: '/admin/memberdelete',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ memberId: memberId }),
                        success: function(response) {
                            if (response.status === 'success') {
                                alert('선택하신 회원이 삭제되었습니다.');
                                location.reload(); // 페이지 새로고침
                            }
                        },
                        error: function() {
                            alert('탈퇴하지 않은 회원입니다.');
                        }
                    });
                }
            });
        });
    </script>
</div>
</body>
</html>