<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <title>Riho - Premium Admin Template</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/intltelinput.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/tagify.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/dropzone.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link id="color" rel="stylesheet" href="/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>
<body>
<!-- Page Sidebar Ends-->
<div layout:fragment="main" class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>상품 수정</h4>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>상품 Form</h5>
                    </div>
                    <div class="card-body">
                        <div class="row g-xl-5 g-3">
                            <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">
                                <ul class="sidebar-left-icons nav nav-pills" id="add-product-pills-tab"
                                    role="tablist">
                                    <li class="nav-item"><a class="nav-link active" id="detail-product-tab"
                                                            data-bs-toggle="pill" href="#detail-product"
                                                            role="tab" aria-controls="detail-product"
                                                            aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="/assets/svg/icon-sprite.svg#product-detail"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Add Product Details</h6>
                                            <p>상품명 & 상세정보 입력</p>
                                        </div>
                                    </a></li>
                                    <li class="nav-item"><a class="nav-link" id="gallery-product-tab"
                                                            data-bs-toggle="pill" href="#gallery-product"
                                                            role="tab" aria-controls="gallery-product"
                                                            aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="/assets/svg/icon-sprite.svg#product-gallery"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Product gallery</h6>
                                            <p>상품 이미지 업로드</p>
                                        </div>
                                    </a></li>
                                    <li class="nav-item"><a class="nav-link" id="category-product-tab"
                                                            data-bs-toggle="pill" href="#category-product"
                                                            role="tab" aria-controls="category-product"
                                                            aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="/assets/svg/icon-sprite.svg#product-category"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Product Categories</h6>
                                            <p>카테고리 설정</p>
                                        </div>
                                    </a></li>
                                    <li class="nav-item"><a class="nav-link" id="pricings-tab"
                                                            data-bs-toggle="pill" href="#pricings" role="tab"
                                                            aria-controls="pricings" aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="/assets/svg/icon-sprite.svg#pricing"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Selling prices</h6>
                                            <p>가격</p>
                                        </div>
                                    </a></li>
                                    <li class="nav-item"><a class="nav-link" id="advance-product-tab"
                                                            data-bs-toggle="pill" href="#advance-product"
                                                            role="tab" aria-controls="advance-product"
                                                            aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="/assets/svg/icon-sprite.svg#advance"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Advance</h6>
                                            <p>판매상태 / 수량</p>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                            <!-- 여기에 템플릿을 렌더링하는 곳에서 itemDto를 포함해야 합니다. -->
                            <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                                <div class="tab-content" id="add-product-pills-tabContent">
                                    <!-- 폼1: 제품명과 세부설명 -->
                                    <div class="tab-pane fade show active" id="detail-product" role="tabpanel"
                                         aria-labelledby="detail-product-tab">
                                        <div class="sidebar-body">
                                            <form class="row g-2"
                                                  th:object="${itemDto}" method="post" id="itemNameDetailsFrm">
                                                <label class="form-label col-12 m-0" for="itemName">제품명<span
                                                        class="txt-danger"> *</span></label>
                                                <div class="col-12 custom-input">
                                                    <input class="form-control" id="itemName" type="text"
                                                           th:field="*{itemName}" required>
                                                </div>
                                                <div>
                                                    <label class="form-label col-12 m-0"
                                                           for="details">세부설명</label>
                                                    <input class="form-control" id="details" type="text"
                                                           th:field="*{details}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- 폼2: 이미지 등록 -->
                                    <div class="tab-pane fade" id="gallery-product" role="tabpanel"
                                         aria-labelledby="gallery-product-tab">
                                        <div class="sidebar-body">
                                            <div class="product-upload">
                                                <p>이미지 등록</p>
                                                <form name="itemImgFrm" class="dropzone dropzone-light"
                                                      id="multiFileUploadA" action="/img">
                                                    <div class="dz-message needsclick">
                                                        <svg>
                                                            <use href="../assets/svg/icon-sprite.svg#file-upload"></use>
                                                        </svg>
                                                        <h6>여기에 드래그 해주세요<a class="txt-primary"
                                                                           href="#!">browser</a></h6><span
                                                            class="note needsclick">SVG,PNG,JPG or GIF</span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 폼3: 카테고리와 아티스트 등록 -->
                                    <div class="tab-pane fade" id="category-product" role="tabpanel"
                                         aria-labelledby="category-product-tab">
                                        <div class="sidebar-body">
                                            <form id="categoryArtistFrm" th:object="${itemDto}" method="post"
                                                  onsubmit="saveForm3Data()">
                                                <div class="row g-lg-4 g-3">
                                                    <div class="col-12">
                                                        <div class="row g-3">
                                                            <div class="col-sm-6">
                                                                <div class="row g-2">
                                                                    <label class="form-label m-0">카테고리 등록<span
                                                                            class="txt-danger">*</span></label>
                                                                    <div class="col-12">
                                                                        <select class="form-select"
                                                                                th:field="*{categoryName}"
                                                                                id="categoryName" required>
                                                                            <option selected value="">카테고리
                                                                            </option>
                                                                            <option th:each="categoryValue : ${T(com.sh.admin.item.model.dto.Category).values()}"
                                                                                    th:value="${categoryValue.name()}"
                                                                                    th:text="${categoryValue.name()}"></option>
                                                                        </select>
                                                                    </div>
                                                                    <label class="form-label m-0">아티스트 등록<span
                                                                            class="txt-danger">*</span></label>
                                                                    <div class="col-12">
                                                                        <select class="form-select"
                                                                                th:field="*{artistName}"
                                                                                id="artistName" required>
                                                                            <option selected value="">아티스트
                                                                            </option>
                                                                            <option th:each="artistValue : ${T(com.sh.admin.item.model.dto.Artist).values()}"
                                                                                    th:value="${artistValue.name()}"
                                                                                    th:text="${artistValue.name()}"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- 폼4: 가격 설정 -->
                                    <div class="tab-pane fade" id="pricings" role="tabpanel"
                                         aria-labelledby="pricings-tab">
                                        <div class="sidebar-body">
                                            <form id="salePriceFrm" class="price-wrapper" th:object="${itemDto}"
                                                  method="post" onsubmit="saveForm4Data()">
                                                <div class="row g-3 custom-input">
                                                    <div class="col-sm-6">
                                                        <label class="form-label">가격(원)<span class="txt-danger">*</span></label>
                                                        <input class="form-control" type="number"
                                                               th:field="*{salePrice}" id="salePrice" required>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- 최종 폼 -->
                                    <div class="tab-pane fade" id="advance-product" role="tabpanel"
                                         aria-labelledby="advance-product-tab">
                                        <div class="sidebar-body advance-options">
                                            <div class="tab-content" id="advance-option-tabContent">
                                                <div class="tab-pane fade show active" id="manifest-option"
                                                     role="tabpanel" aria-labelledby="manifest-option-tab">
                                                    <div class="meta-body">
                                                        <form th:action="|@{/item/update/}${itemDto.itemId}|"
                                                              th:object="${itemDto}" method="post"
                                                              id="advance-tab">
                                                            <input type="hidden" name="itemName">
                                                            <input type="hidden" name="details">
                                                            <input type="hidden" name="imgUrl">
                                                            <input type="hidden" name="categoryName">
                                                            <input type="hidden" name="artistName">
                                                            <input type="hidden" name="salePrice">
                                                            <div class="row g-3 custom-input">
                                                                <div class="col-sm-6">
                                                                    <label class="form-label" for="saleStatus">판매상태<span
                                                                            class="txt-danger">*</span></label>
                                                                    <select class="form-select"
                                                                            th:field="*{saleStatus}"
                                                                            id="saleStatus" required>
                                                                        <option selected value="">판매상태</option>
                                                                        <option th:each="saleStatusValue : ${T(com.sh.admin.item.model.dto.SaleStatus).values()}"
                                                                                th:value="${saleStatusValue.name()}"
                                                                                th:text="${saleStatusValue.name()}"></option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-6">
                                                                    <label class="form-label"
                                                                           for="quantity">수량<span
                                                                            class="txt-danger">*</span></label>
                                                                    <input class="form-control" type="number"
                                                                           th:field="*{quantity}" id="quantity"
                                                                           required>
                                                                </div>
                                                            </div>
                                                            <div class="product-buttons">
                                                                <div class="d-flex align-items-center gap-sm-2 gap-1">
                                                                    <input type="submit" value="수정"
                                                                           class="btn btn-light">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="additional-option"
                                                     role="tabpanel" aria-labelledby="additional-option-tab">
                                                    <div class="meta-body">
                                                        <form>
                                                            <div class="row g-3">
                                                                <div class="col-12">
                                                                    <div class="row g-3">
                                                                        <div class="col-sm-6">
                                                                            <div class="row product-tag">
                                                                                <label class="form-label col-12">Specific
                                                                                    Tags</label>
                                                                                <div class="col-12">
                                                                                    <input id="specificTag"
                                                                                           name="basic-tags1"
                                                                                           value="watches, sports, clothes, bottles">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <label class="form-label col-12">Additional
                                                                                        Description</label>
                                                                                    <div class="toolbar-box">
                                                                                        <div id="toolbar4"><span
                                                                                                class="ql-formats">
                                                                <select class="ql-size"></select></span><span
                                                                                                class="ql-formats">
                                                                <button class="ql-bold">Bold </button>
                                                                <button class="ql-italic">Italic </button>
                                                                <button class="ql-underline">underline</button>
                                                                <button class="ql-strike">Strike </button></span><span
                                                                                                class="ql-formats">
                                                                <button class="ql-list" value="ordered">List </button>
                                                                <button class="ql-list" value="bullet"> </button>
                                                                <button class="ql-indent" value="-1"> </button>
                                                                <button class="ql-indent"
                                                                        value="+1"></button></span><span
                                                                                                class="ql-formats">
                                                                <button class="ql-link"></button>
                                                                <button class="ql-image"></button>
                                                                <button class="ql-video"></button></span></div>
                                                                                        <div id="editor4"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- latest jquery-->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="/assets/js/scrollbar/simplebar.js"></script>
    <script src="/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="/assets/js/sidebar-menu.js"></script>
    <script src="/assets/js/sidebar-pin.js"></script>
    <script src="/assets/js/slick/slick.min.js"></script>
    <script src="/assets/js/slick/slick.js"></script>
    <script src="/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="/assets/js/flat-pickr/flatpickr.js"></script>
    <script src="/assets/js/flat-pickr/custom-flatpickr.js"></script>
    <script src="/assets/js/dropzone/dropzone.js"></script>
    <script src="/assets/js/dropzone/dropzone-script.js"></script>
    <script src="/assets/js/select2/tagify.js"></script>
    <script src="/assets/js/select2/tagify.polyfills.min.js"></script>
    <script src="/assets/js/select2/intltelinput.min.js"></script>
    <script src="/assets/js/add-product/select4-custom.js"></script>
    <script src="/assets/js/editors/quill.js"></script>
    <script src="/assets/js/custom-add-product.js"></script>
    <script src="/assets/js/height-equal.js"></script>
    <script src="/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/theme-customizer/customizer.js"></script>
    <!--<script>-->
    <!--    function nextTab(tabId) {-->
    <!--        var tabs = document.querySelectorAll('.tab-pane');-->
    <!--        tabs.forEach(function (tab) {-->
    <!--            tab.classList.remove('show', 'active');-->
    <!--        });-->
    <!--        document.getElementById(tabId).classList.add('show', 'active');-->
    <!--    }-->

    <!--    function previousTab(tabId) {-->
    <!--        var tabs = document.querySelectorAll('.tab-pane');-->
    <!--        tabs.forEach(function (tab) {-->
    <!--            tab.classList.remove('show', 'active');-->
    <!--        });-->
    <!--        document.getElementById(tabId).classList.add('show', 'active');-->
    <!--    }-->
    <!--</script>-->
    <!--<script>-->
    <!--    /**-->
    <!--     * 폼 제출 핸들러-->
    <!--     * - 제출 또는 미제출을 결정할수 있다.-->
    <!--     */-->
    <!--    document.getElementById('advance-tab').onsubmit = (e) => {-->
    <!--        const $frm = e.target; // advance-tab-->
    <!--        const $itemNameDetailsFrm = document.getElementById('itemNameDetailsFrm');-->
    <!--        const $itemImgFrm = document.getElementById('itemImgFrm');-->
    <!--        const $categoryArtistFrm = document.getElementById('categoryArtistFrm');-->
    <!--        const $salePriceFrm = document.getElementById('salePriceFrm');-->

    <!--        // 이전 사용자입력값을 가져오기-->
    <!--        $frm.querySelector('input[name="itemName"]').value = $itemNameDetailsFrm.querySelector('input[name="itemName"]').value;-->
    <!--        $frm.querySelector('input[name="details"]').value = $itemNameDetailsFrm.querySelector('input[name="details"]').value;-->
    <!--        $frm.querySelector('input[name="imgUrl"]').value = $itemImgFrm.querySelector("img").src; // img태그의 src속성값-->
    <!--        $frm.querySelector('input[name="categoryName"]').value = $categoryArtistFrm.querySelector('select[name="categoryName"]').value;-->
    <!--        $frm.querySelector('input[name="artistName"]').value = $categoryArtistFrm.querySelector('select[name="artistName"]').value;-->
    <!--        $frm.querySelector('input[name="salePrice"]').value = $salePriceFrm.querySelector('input[name="salePrice"]').value;-->

    <!--        console.log('제출!');-->

    <!--        e.target.submit();-->
    <!--    }-->
    <!--</script>-->
    <!--<script>-->
    <!--    function nextTab(tabId) {-->
    <!--        var tabs = document.querySelectorAll('.tab-pane');-->
    <!--        tabs.forEach(function (tab) {-->
    <!--            tab.classList.remove('show', 'active');-->
    <!--        });-->
    <!--        document.getElementById(tabId).classList.add('show', 'active');-->
    <!--    }-->

    <!--    function previousTab(tabId) {-->
    <!--        var tabs = document.querySelectorAll('.tab-pane');-->
    <!--        tabs.forEach(function (tab) {-->
    <!--            tab.classList.remove('show', 'active');-->
    <!--        });-->
    <!--        document.getElementById(tabId).classList.add('show', 'active');-->
    <!--    }-->

    <!--    document.getElementById('advance-tab').onsubmit = (e) => {-->
    <!--        const $frm = e.target; // advance-tab-->
    <!--        const $itemNameDetailsFrm = document.getElementById('itemNameDetailsFrm');-->
    <!--        const $itemImgFrm = document.querySelector('form[name="itemImgFrm"]');-->
    <!--        const $categoryArtistFrm = document.getElementById('categoryArtistFrm');-->
    <!--        const $salePriceFrm = document.getElementById('salePriceFrm');-->

    <!--        // 이전 사용자입력값을 가져오기-->
    <!--        $frm.querySelector('input[name="itemName"]').value = $itemNameDetailsFrm.querySelector('input[name="itemName"]').value;-->
    <!--        $frm.querySelector('input[name="details"]').value = $itemNameDetailsFrm.querySelector('input[name="details"]').value;-->

    <!--        // imgUrl을 제대로 가져오기-->
    <!--        if ($itemImgFrm) {-->
    <!--            const imgElement = $itemImgFrm.querySelector("img");-->
    <!--            if (imgElement) {-->
    <!--                $frm.querySelector('input[name="imgUrl"]').value = imgElement.src; // img태그의 src속성값-->
    <!--            }-->
    <!--        }-->

    <!--        $frm.querySelector('input[name="categoryName"]').value = $categoryArtistFrm.querySelector('select[name="categoryName"]').value;-->
    <!--        $frm.querySelector('input[name="artistName"]').value = $categoryArtistFrm.querySelector('select[name="artistName"]').value;-->
    <!--        $frm.querySelector('input[name="salePrice"]').value = $salePriceFrm.querySelector('input[name="salePrice"]').value;-->

    <!--        console.log('제출!');-->

    <!--        // 폼을 실제로 제출-->
    <!--        // e.preventDefault();-->
    <!--        $frm.submit();-->
    <!--    }-->
    <!--</script>-->
    <script>
        document.getElementById('advance-tab').onsubmit = (e) => {
            const $frm = e.target; // advance-tab
            const $itemNameDetailsFrm = document.getElementById('itemNameDetailsFrm');
            const $itemImgFrm = document.querySelector('form[name="itemImgFrm"]');
            const $categoryArtistFrm = document.getElementById('categoryArtistFrm');
            const $salePriceFrm = document.getElementById('salePriceFrm');

            // 이전 사용자입력값을 가져오기
            $frm.querySelector('input[name="itemName"]').value = $itemNameDetailsFrm.querySelector('input[name="itemName"]').value;
            $frm.querySelector('input[name="details"]').value = $itemNameDetailsFrm.querySelector('input[name="details"]').value;

            // imgUrl을 제대로 가져오기
            if ($itemImgFrm) {
                const imgElement = $itemImgFrm.querySelector("img");
                if (imgElement) {
                    $frm.querySelector('input[name="imgUrl"]').value = imgElement.src; // img태그의 src속성값
                } else {
                    console.log("이미지 요소를 찾을 수 없습니다.");
                }
            } else {
                console.log("이미지 폼을 찾을 수 없습니다.");
            }

            $frm.querySelector('input[name="categoryName"]').value = $categoryArtistFrm.querySelector('select[name="categoryName"]').value;
            $frm.querySelector('input[name="artistName"]').value = $categoryArtistFrm.querySelector('select[name="artistName"]').value;
            $frm.querySelector('input[name="salePrice"]').value = $salePriceFrm.querySelector('input[name="salePrice"]').value;

            console.log('제출할 데이터:', {
                itemName: $frm.querySelector('input[name="itemName"]').value,
                details: $frm.querySelector('input[name="details"]').value,
                imgUrl: $frm.querySelector('input[name="imgUrl"]').value,
                categoryName: $frm.querySelector('input[name="categoryName"]').value,
                artistName: $frm.querySelector('input[name="artistName"]').value,
                salePrice: $frm.querySelector('input[name="salePrice"]').value,
                saleStatus: $frm.querySelector('select[name="saleStatus"]').value,
                quantity: $frm.querySelector('input[name="quantity"]').value
            });

            // 폼을 실제로 제출
            e.target.submit();
        };
    </script>
    <script>
        function saveForm4Data() {
            // 폼 데이터를 검증하거나 처리하는 코드를 작성합니다.
            const salePrice = document.getElementById('salePrice').value;
            if (salePrice < 0) {
                alert('가격은 0보다 커야 합니다.');
                return false; // 폼 제출을 막습니다.
            }
            return true; // 폼 제출을 허용합니다.
        }
    </script>

</div>
</body>
</html>